body {
	background-image: url("../pic/bg.png");
	background-repeat: repeat;
}

#logo {
	margin-left: 30px;
	margin-top: 30px;
}

#lan {
	display:none;
}

input:focus {
	border: rgba(25, 165, 200, 0.58) solid 1px
}

.title,
.nolink {
	text-align: center;
	color: #6a6a6a;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

.title:hover,
.nolink:hover{
	color: #19a5c8;
}

p.title {
	margin-top: 15%;
}

.nolink {
	text-decoration: none;
}


.menu {cursor: pointer}
.menu:hover {color: #fe6161}

#front-panel {
	height: 280px;
	margin: 0 auto 7%;
	width: 240px;
}

.submit {
	-webkit-appearance: none;
  	-moz-appearance: none;
    appearance: none;
	font: 14px Calibri;
	padding: 6px 18px;
	color: #ffffff;
	background-color: #19a5c8;
	border: #19a5c8 solid 1px;
	border-radius: 4px;
	width: 100px;
	box-shadow: 0 1px gray;
}

.submit:hover {
	cursor: pointer;
}


#login-panel {
	display: none;
	height: 278px;
	margin-bottom: 7%;
}

.contact-form {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 460px;
}

.contact-required-field {
	color: #f94444;
	font: 14px Calibri;
	margin-right: 10px;
}

.input-text {
	border: #9f9f9f solid 1px;
	width: 90px;
	color: #19a5c8;
	padding: 6px 18px;
	margin: 8px 6px;
}

.input-text:focus {
	border: rgba(25, 165, 200, 0.58) solid 1px;
}

#login {
	margin-top: 8px;
	padding: 4px 18px;
}

#main-panel {
	display: none;
}

#frame {
	margin-left: 33px;
	margin-top: 20px;
	margin-right: 33px
}

.main-panel-button {
	padding: 4px 20px
}

#user {
	margin-top: 20px;
	margin-bottom: 20px;
}

.line {
	color: #6a6a6a;
	width: 92%;
	position: absolute;
}

#opera {margin-top:40px;}
#sharer {padding:5px 10px;}
#sharer option { padding:3px 1px; }
#checkOutButton {border:#fe6161 solid 1px;background-color:#fe6161}

#opera-button{
	display:inline
}

#sharer-list {
	margin-top:10px;
}

.sharerCheckbox {
	cursor: pointer;
	margin-left: 8px;
}


.sharerLabel{
	transition: opacity .4s ease-in-out;
	cursor: pointer;
}
.sharerLabel:hover {
	opacity: .6;
}

.sharerEdit {
	display: none;
	padding: 1px 4px;
}

#add-sharer-panel,
#save-panel,
#share-panel {
   display: none;
   width:35%;
   height:50px;
   border-radius: 3px;
   font: 14px Calibri;
   font-weight:bold;
   border:  #626262 solid 1px;
   background-color:  #626262;
   opacity:0.65;
   color:#141414;
   padding-left:10px;
   padding-top:5px;
}

#addNewSharerText {width:50%;}

#addNewSharerButton {margin-left:15px; width:25%; background-color:#1daf99;}

#addNewSharerCancelButton,
#saveCancelButton,
#shareCancelButton {
	border:#ffffff solid 2px;
	background-color:#fe6161;
	height:24px;
	width:24px;
	border-radius:50%;
	padding:2px 2px;
	float: right;
  	margin-top: -16px;
  	margin-right: -10px;
}

#save-panel {width:45%;color:#ffffff; }
#groupNameText {width:15%; padding:6px 3px;}
#ownerNameText {width:20%; padding:6px 3px;}
#savetoButton {margin-left:10px; width:12%; background-color:#fe6161;}

#share-panel {width:40%;color:#ffffff; height:260px;opacity:0.9;background-color:  #828282 }
#shareEmailText {width:88%;}
#shareMessage {width:88%;height:40%; font-size:14px; font-weight: bold;}
#sharetoButton {margin-right: 22px;float: right;}
#shareCancelButton {}

#list {height:474px;}
#paymentTable {width:100%; text-align:center;margin-bottom:100px}
#paymentTable tr:last-child td {color:#19a5c8;}
#paymentTable th {height:35px; font-weight:bold; color:#fe6161;margin:12px 10px;}
#paymentTable th:first-child {text-align:left;width:3%;font-weight:bold;padding-left: 5px;}
#paymentTable th:nth-child(2) {text-align:left;width:10%;font-weight:bold;padding-left:15px}
#paymentTable th:last-child {width:25%;}

#paymentTable td {height:20px;padding:6px 4px;}
#paymentTable td:first-child {text-align:left;width:3%;border-right:1px #c0c0c0 solid;padding-left: 5px}
#paymentTable td:nth-child(2) {text-align:left;width:10%;border-right:1px #c0c0c0 solid;color:#1daf99;font-weight:bold;padding-left:15px}
#paymentTable td:last-child {text-align:left; color:#808080;width:25%;border-right:1px #c0c0c0 solid;}

#paymentTable tr:hover {
	background-color: rgba(255, 255, 255, 0.75);
	opacity: 0.8;
	cursor: pointer;
	transition: .8s ease .3s;
}

.confirmDelete {
	position: relative;
	right: 30px;
	z-index: 1;
	display: none;
	float: right;
	padding: 2px 4px;
	width: auto;
	color: #ffffff;
	font: 14px Calibri;
	border-radius: 4px;
	border: #fe6161 solid 1px;
	background-color: #fe6161;
	box-shadow: 0 1px gray;
}

#paymentTable tr:hover .deletePayment{
	transition: .8s ease .3s;
	opacity: 0.8;
}

#paymentTable tr:hover .deletePayment{
	transition: .8s ease .3s;
	opacity: 0.8;
}

.recordNumber {
	float: right;
	display: none;
}

.deletePayment {
	font: 16px Calibri;
	float: right;
	margin-right: 10px;
	opacity: 0;
	transform: scaleX(1.5);
}

.deletePayment:hover {
	color: #fe6161;
	transition: .2s ease;
}

#recommendation {
	color: #646464;
	font: 16px Calibri;
	display: flex;
	border: solid #c4c4c4 1px;
	padding: 20px 15px;
}

.subRec {margin-left:25px;  line-height: 150%;}
.subRec:first-child {margin-left:0;}
.rt {color:#19a5c8;font-weight:bold}
.rn {color:#fe6161;}
.rm {color:#1daf99;font-style:italic}

#bottom {color:#6a6a6a;width: 90%; position: absolute;bottom:28px;margin-left:5%;}

#copyright { text-align:center ;font:12px Calibri;color:#6a6a6a; position: absolute;bottom:10px;margin-left: 35%;width: 30%; }

#msg {
   display: none;
   width:180px;
   font: 13px Calibri;
   font-weight:bold;
   text-align: center;
   border: #19a5c8 solid 1px;
   border-radius: 3px;
   background-color:#19a5c8;
   opacity:0.9;
   color:#ffffff;
   padding: 6px 10px;
 }

#msg p {margin: 0;}
#msg:hover {opacity:0.5}

span.attention1, span.attention2 {
 	cursor: pointer;
  	display: inline-block;
 	width: 16px;
 	height: 16px;
 	line-height: 16px;
 	color: White;
 	font-size: 13px;
 	font-weight: bold;
 	border-radius: 50%;
 	text-align: center;
 	position: relative;
}

span.attention1 {background-color:#18ff5f}
span.attention2 {background-color:#fe6161}
span.attention1:hover,
span.attention2:hover {opacity:0.5}
#gName {float:right; color:#19a5c8;font-weight:bold}
@media only screen and (max-device-width : 667px) {
	#msg {
		position:absolute;
		width:100%;
		left:0;
		top:0;
		height:12%;
		border:0;
		padding:6px 0;
	}

}
